body {
    background-image: url('../images/geolighttexture.jpg');
    font-family: sans-serif;
    color: white;
    font-size: 13px;
    text-align: center;
    padding-top: 1%;
    overflow: auto;
    background-size: contain;
}

#upperLeft, #upperRight, #bottomLeft, #bottomRight {
    float: left;
    font-size: .5em;
    margin: 1px;
   
}

header {
    font-family: Calibri,'Californian FB','Calisto MT';
    font-size: large;
    text-align: center;
}

main, #leftwrapper, #wrapper {
    display: inline-block;
    background-size: contain;
    width: auto;
    height: auto;
}

main {
    text-align: left;
    min-width: 50%;
    min-height: 60%;
    position: relative;
    padding: 15px 20px 20px 35px;
    top: -10px;
    background-color: #140e0e;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-left: 1px solid #9c9c7c;
    border-right: 1px solid #9c9c7c;
    border-bottom: 1px solid #9c9c7c;
    box-shadow: 3px 3px 3px #e0467f;
}

#wrapper {
    float: right;
}

#leftwrapper {
    position: relative;
}

h1 {
    font-size: xx-large;
    color: black;
    text-shadow: 2px 2px 2px #e0467f;
}

h3 {
    font-style: italic;
    font-size: 1.25em;
}

footer {
    text-align: center;
}

.clear {
    clear: both;
}