body {
    margin: 2%;
    padding-right: 15em;
    padding-left: 15em;
    background-image: linear-gradient(to top,#656f50, rgba(255, 255, 255, 0));
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 200%;

}

header, .wrapper {
    max-width: 60%;
}

#header {
    top: -10px;
    background-color: rgb(155, 166, 132);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 4em;
    padding: 1px 3px .5em;
    box-shadow: 3px 3px 3px #444;
    z-index: 5;
}

h1 {
    font-family: 'georgia';
    font-size: x-large;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: left;
    font-weight: normal;
    font-size: small;
    color: #070807;
}

h3 {
    line-height: .5px;
    padding: .5em 0 0 0;
    font-size: small;
}

p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#input {
    color: #888;
}

textarea {
    vertical-align: top;
    width: 19em;
    color: #777;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}

#wrapper {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top: -10px;
    padding: 5px 50px 10px 20px;
    box-shadow: 3px 3px 3px #444;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

header, section, article.right, article.left, footer {
    display: block;
    position: relative;
}

#options {
    -ms-grid-column-align: end;
    grid-column-align: end;
}

article.right, article.left {
    display: inline-block;
    /* border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    position: relative; */
}

article.left {
    float: left;
}

article.right {
    float: right;
}

fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(155, 166, 132);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

legend {
    padding: 0 0 .01em 0;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

#inputs {
    width: 15em;
    clear: both;
   text-align:left;
}

    #inputs input {
        width: 100%;
        clear: both;
         color:cadetblue;
    }


span {
    font-size: x-small;
}

#subwrapper {
    text-align:center; 
}

div #submit, #cancel {
    display:inline-block;
   margin:3em 0 0 0;  
}

/* Make Footer Sticky */
#footer_container {
    bottom: 0;
    height: 3em;
    position: relative;
    top: -10px;
    background-color: #9ba684;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1px 2px .5em;
    box-shadow: 3px 3px 3px #444;
}

#footer {
    line-height: 10px;
    margin: 0;
    width: auto;
    text-align: center;
    padding: .5em .1em;
}

.break {
    clear: both;
}

a {
    color: #001e26;
    text-decoration: wavy;
}

    a:link {
        color: #2d8a24;
    }

    a:visited {
        color: #260024;
    }

    a:hover {
        color: #3080cc;
    }